@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .space20 {
    @apply h-5 w-full block;
  }

  .space30 {
    @apply w-full block;
    height: 30px;
  }

  .space40 {
    @apply h-10 w-full block;
  }

  .space50 {
    @apply block w-full h-12;
  }

  .login-form-button {
    @apply w-full;
  }

  .list-checked-item {
    @apply relative block mb-7.5 pl-7 text-lynch list-none;
  }

  .list-checked-item::before {
    @apply absolute top-0 left-0 w-4 h-4 mt-0.5;
    content: "";
    background-image: url(../../public/icons/checklist.svg);
  }

  .whiteBox {
    @apply bg-white w-full overflow-hidden rounded-md;
    min-height: 100px;
    transition: all 0.3s ease-in-out;
  }

  .avatar {
    @apply float-right !ml-2.5 !mt-4 !text-chambray bg-transparent hover:bg-white hover:shadow-avatar-active;
  }
}

.ant-layout {
  background: #f9fafc !important;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-layout-sider-trigger {
  border-right: 1px solid #edf0f5 !important;
}

button,
[type="submit"] {
  background-color: #1677ff;
}

button.ant-btn-primary {
  background-color: #1677ff;
}